/* Agenda Section */
#agenda {
    background: white;
    padding: 50px 0;
	max-width: 100%; /* Ajuste la largeur max à 80% de la page */
    margin: 0 auto; /* Centrer le tableau */
}

#agenda table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#agenda th, #agenda td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

#agenda th {
    background: #ffffff;/*#f4f4f4;/* Coloré */
}

td[colspan="3"] {
	text-align: center !important; /* Force le centrage */
    background-color: #f0f8ff; /* Fond légèrement coloré */
    border: 1px solid #ccc; /* Bordure visible */
    padding: 10px; /* Espacement interne */
	
}

td[colspan="2"] {
	text-align: center !important; /* Force le centrage */
    background-color: #f0f8ff; /* Fond légèrement coloré */
    border: 1px solid #ccc; /* Bordure visible */
    padding: 10px; /* Espacement interne */
	
}
/* Responsive Design */
@media (max-width: 900px) {
    .table-container {
        margin: 0 10px; /* Ajoute un peu d'espace sur les petits écrans */
    }

    table {
        font-size: 50%;/*0.8rem; /* Réduit la taille du texte sur les petits écrans */
    }
}